<div class="container">
	<div class="middle-box error-screen text-center dse-b b-b">
		<h1>403</h1>
		<h2 translate-once="ERROR_ACC_NOACCESS"></h2>
		<div class="m-b-md">
			<p translate-once="TEXT_ERR_NOACCESS">
			</p>
		</div>

		<a href="/"><i class="fa fa-arrow-left"></i> <translate translate-once="TO_MAIN_NOACCESS"></translate></a>
	</div>
</div>