<div class="container">
	<div class="register-screen middle-box text-center dse-b b-b">
		<h2 class="no-m-t m-b-md">Регистрация в MIR-NDV</h2>
		<form name="vars.registerForm" novalidate nga-form-validator ng-submit="register()">
			<fieldset>
				<div class="form-group">
					<div class="input-group">
						<input id="register-form-phone" type="text" class="form-control" placeholder="email" name="login" required ng-model="vars.user.login" ng-pattern="/^[\w\d-_\.]+@[\w\d-_]+\.\w+$/" ng-model-options="{title:'email'}" />
						<label for="register-form-phone" class="input-group-addon"><i class="fa fa-at"></i></label>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<input id="register-form-pwd" type="password" class="form-control" placeholder="пароль" name="pwd" required ng-model="vars.user.pwd" ng-model-options="{title:'пароль'}">
						<label for="register-form-pwd" class="input-group-addon"><i class="fa fa-lock"></i></label>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<input id="register-form-pwd2" type="password" class="form-control" placeholder="подтверждение пароля" name="pwd2" required ng-model="vars.user.pwd2" compare-to="user.pwd" ng-model-options="{title:'подтверждение-пароля'}">
						<label for="register-form-pwd2" class="input-group-addon"><i class="fa fa-lock"></i></label>
					</div>
				</div>
				<div class="form-group">
					<div style="background-image: url({{vars.captcha}}); width:150px; height: 90px;" class="pull-left"></div>
					<div style="padding-top:35px;" class="w100 text-right">
						<a href ng-click="getCaptcha()">обновить</a>
					</div>
					<div class="input-group p-t-sm">
						<input id="register-form-captcha" class="form-control" placeholder="текст с картинки" name="captcha" required ng-model="vars.user.captcha" ng-model-options="{title:'текст с картинки'}" />
						<label for="register-form-captcha" class="input-group-addon"><i class="fa fa-check"></i></label>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<button type="submit" class="btn btn-success btn-block">Создать аккаунт</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>