//
// Тени.
//

// Тень от текста.
.ts-b {
	text-shadow: 0px 1px 1px #4D4D4D;
}

.ts-rb-light {
	text-shadow: 1px 1px 0px #FFFFFF;
}

.ts-rb-dark {
	text-shadow: 1px 1px 0px #9D9D9D;
}

// Нижняя тень от бокса.
.ds-b {
	position: relative;
	.box-shadow(0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;);

	&:before, &:after {
		position: absolute; 
		left: 10px;
		right: 10px;
		top: 50%;
		bottom: 0;
		content: '';
		z-index: -1;
		.box-shadow(0 0 20px rgba(0, 0, 0, 0.8));
		.border-radius(100px / 10px);
	}
}

// Нижняя тень от бокса (с обоих краев).
.dse-b {
	position: relative;

	&:before, &:after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 10px;
		bottom: 15px;
		max-width: 300px;
		width: 50%;
		top: 80%;
		background: #000;
		.box-shadow(0 15px 10px #000);
		.transform(rotate(-3deg));
	}
	&:after {
		.transform(rotate(3deg));
		left: auto;
		right: 10px;
	}
}

//
// Индикатор загрузки.
//

#loading-bar-spinner {
	position: absolute;
	top: 15px;
	right: 10px;
	left: initial;
	z-index: 9999;
}

//
// Стили всплывающих сообщений (Toastr)
//

#toast-container {
	z-index: 9998;
	right: 25px;
	bottom:32px;
	> div {
		.box-shadow(0 0 12px rgba(0, 0, 0, 0.3));
	}

	> :hover {
		.box-shadow(0 0 12px rgba(0, 0, 0, 1.0));
	}
}

.toast {
	background-color: #1AB394;
}
.toast-success {
	background-color: #1AB394;
}
.toast-error {
	background-color: #ED5565;
}
.toast-info {
	background-color: #23C6C8;
}
.toast-warning {
	background-color: #F8AC59;
}

//
// Раскрывающийся блок.
//

.collapsing {
	.transition(height .2s ease-in);
}

//
//
//

.visible {
	opacity: 1;
	visibility: visible;
	.transition(opacity 12s linear);
}

.hidden {
	opacity: 0;
	visibility: hidden;
	.transition(visibility 0s 12s, opacity 12s linear;);
}

.grow {
	.transition(all .2s ease-in-out);

	&:hover {
		.transform(scale(1.1));
	}
}

@-webkit-keyframes shake {
	0% { .transform(translate(2px, 1px) rotate(0deg)); }
	10% { .transform(translate(-1px, -2px) rotate(-1deg)); }
	20% { .transform(translate(-3px, 0px) rotate(1deg)); }
	30% { .transform(translate(0px, 2px) rotate(0deg)); }
	40% { .transform(translate(1px, -1px) rotate(1deg)); }
	50% { .transform(translate(-1px, 2px) rotate(-1deg)); }
	60% { .transform(translate(-3px, 1px) rotate(0deg)); }
	70% { .transform(translate(2px, 1px) rotate(-1deg)); }
	80% { .transform(translate(-1px, -1px) rotate(1deg)); }
	90% { .transform(translate(2px, 2px) rotate(0deg)); }
	100% { .transform(translate(1px, -2px) rotate(-1deg)); }
}

.shake {
	.transform-origin(50% 50%);
	.animation-name(shake);
	.animation-duration(0.8s);
	.animation-timing-function(linear);
	.animation-iteration-count(2);
}

.bigbang {
	.transition(all .2s ease-in-out);
	.transform(scale(3) rotate(10deg));
	opacity: 0;
}

.infinite-animation {
	.animation-iteration-count(infinite);
}
