.progress-bar{
	-webkit-animation: progress-bar-stripes 2s linear infinite;
	-webkit-animation-name: progress-bar-stripes;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: initial;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: initial;
	-webkit-animation-fill-mode: initial;
	-webkit-animation-play-state: initial;
	background-size: 40px 40px;
}
.font-bold {
	font-family: 'open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 30px;
	height: 33px;
	line-height: 33px;
	margin-bottom: 0px;
	margin-top: 5px;
}
.font-title{
	font-family: 'open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
}
.dash-href{
	color:#DA1515;
	border-bottom:1px dashed #295281;
}