/**
 * Общие стили приложения.
 */

@import '../../vendor/bootstrap/less/bootstrap.less';

@import 'elements.less';

@body-font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@body-font-size: 13px;
@body-bg-color: #263949;
@body-text-color: #676A6C;

@header-height: 0px;
@header-bg-color: #181818;
@header-text-color: #BFBFBF;
@header-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
@header-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);

@sidebar-width: 90px;
@sidebar-sub-width: 170px;
@sidebar-bg-color: #2F4050;
@sidebar-sub-bg-color: #2F4050;//263949;
@sidebar-active-item-bg-color: #19aa8d;
@sidebar-active-item-border: 4px solid #098A6D;
@sidebar-active-item-text-color: #FFFFFF;
@sidebar-item-text-color: #A7B1C2;
@sidebar-item-text-shadow-color: 0 1px 0 rgba(0, 0, 0, 0.8);
@sidebar-divider-top-border-color: #1f2e3a;
@sidebar-divider-bottom-border-color: #2f4050;

@footer-height: 30px;
@footer-bg-color: #181818;
@footer-text-color: #BFBFBF;
@footer-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
@footer-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);

@content-bg-color: #E3E3E3;
@content-footer-bg-color: #FAE889;
@content-footer-bg-color-rgb: rgb(250, 232, 137, 0.8);

@toolbar-height: 50px;

@muted-text-color: #888888;

@import 'buttons.less';
@import 'forms.less';

/**
 * Типография.
 */

@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	font-style: normal;
	src: url('fonts/Roboto-Regular.eot');
	src: local('☺'), url('fonts/Roboto-Regular.woff') format('woff'), url('fonts/Roboto-Regular.ttf') format('truetype'), url('fonts/Roboto-Regular.svg') format('svg');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 100;
	font-style: normal;
	src: url('fonts/Roboto-Thin.eot');
	src: local('☺'), url('fonts/Roboto-Thin.woff') format('woff'), url('fonts/Roboto-Thin.ttf') format('truetype'), url('fonts/Roboto-Thin.svg') format('svg');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 100;
	font-style: italic;
	src: url('fonts/Roboto-ThinItalic.eot');
	src: local('☺'), url('fonts/Roboto-ThinItalic.woff') format('woff'), url('fonts/Roboto-ThinItalic.ttf') format('truetype'), url('fonts/Roboto-ThinItalic.svg') format('svg');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 300;
	font-style: normal;
	src: url('fonts/Roboto-Light.eot');
	src: local('☺'), url('fonts/Roboto-Light.woff') format('woff'), url('fonts/Roboto-Light.ttf') format('truetype'), url('fonts/Roboto-Light.svg') format('svg');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 300;
	font-style: italic;
	src: url('fonts/Roboto-LightItalic.eot');
	src: local('☺'), url('fonts/Roboto-LightItalic.woff') format('woff'), url('fonts/Roboto-LightItalic.ttf') format('truetype'), url('fonts/Roboto-LightItalic.svg') format('svg');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	font-style: italic;
	src: url('fonts/Roboto-Italic.eot');
	src: local('☺'), url('fonts/Roboto-Italic.woff') format('woff'), url('fonts/Roboto-Italic.ttf') format('truetype'), url('fonts/Roboto-Italic.svg') format('svg');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 500;
	font-style: normal;
	src: url('fonts/Roboto-Medium.eot');
	src: local('☺'), url('fonts/Roboto-Medium.woff') format('woff'), url('fonts/Roboto-Medium.ttf') format('truetype'), url('fonts/Roboto-Medium.svg') format('svg');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 500;
	font-style: italic;
	src: url('fonts/Roboto-MediumItalic.eot');
	src: local('☺'), url('fonts/Roboto-MediumItalic.woff') format('woff'), url('fonts/Roboto-MediumItalic.ttf') format('truetype'), url('fonts/Roboto-MediumItalic.svg') format('svg');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 700;
	font-style: normal;
	src: url('fonts/Roboto-Bold.eot');
	src: local('☺'), url('fonts/Roboto-Bold.woff') format('woff'), url('fonts/Roboto-Bold.ttf') format('truetype'), url('fonts/Roboto-Bold.svg') format('svg');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 700;
	font-style: italic;
	src: url('fonts/Roboto-BoldItalic.eot');
	src: local('☺'), url('fonts/Roboto-BoldItalic.woff') format('woff'), url('fonts/Roboto-BoldItalic.ttf') format('truetype'), url('fonts/Roboto-BoldItalic.svg') format('svg');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 900;
	font-style: normal;
	src: url('fonts/Roboto-Black.eot');
	src: local('☺'), url('fonts/Roboto-Black.woff') format('woff'), url('fonts/Roboto-Black.ttf') format('truetype'), url('fonts/Roboto-Black.svg') format('svg');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 900;
	font-style: italic;
	src: url('fonts/Roboto-BlackItalic.eot');
	src: local('☺'), url('fonts/Roboto-BlackItalic.woff') format('woff'), url('fonts/Roboto-BlackItalic.ttf') format('truetype'), url('fonts/Roboto-BlackItalic.svg') format('svg');
}

/**
 * Основные стили.
 */

body {
	font-family: @body-font-family;
	font-size: @body-font-size;
	background: @body-bg-color;
	color: @body-text-color;
}

/**
 * Шапка.
 */

header {
	overflow: hidden;
	position: absolute;
	z-index: 9999;
	width: 100%;
	height: @header-height;
	line-height: @header-height;
	background: @header-bg-color;
	color: @header-text-color;
	text-shadow: @header-text-shadow;
	box-shadow: @header-box-shadow;
}

/**
 * Главный контейнер с левой панелью.
 */

.main-wrapper {
	position: absolute;
	top: @header-height;
	bottom: @footer-height;
	width: 100%;
	overflow-y: auto;
}
	.sidebar-wrapper {
		position: absolute;
		width: @sidebar-width + @sidebar-sub-width;
		height: 100%;
		overflow: hidden;
		z-index: 9999;

		&.no-sub-sidebar {
			width: @sidebar-width;
		}
	}
	.content-wrapper {
		position: relative;
		top: 0;
		height: 100%;
		margin-left: @sidebar-width + @sidebar-sub-width;
		padding-top: @toolbar-height;
		overflow: hidden;
		background: @content-bg-color;

		&.no-sub-sidebar {
			margin-left: @sidebar-width;
		}

		&.no-sidebar{
			margin-left: 0px;
		}

		> .container-fluid {
			overflow-y: scroll;
			height: 100%;
		}

		.content-footer {
			margin-left:-15px;
			position: absolute;
			bottom: 0;
			width: 100%;
			font-size: 14px;
			text-align: center;
			/* background: @content-footer-bg-color; */
		    background: transparent;
		    background: -moz-linear-gradient(bottom, @content-footer-bg-color-rgb 40%, rgba(0, 0, 0, 0.1) 100%);
		    background: -webkit-gradient(left bottom, left top, color-stop(40%, @content-footer-bg-color-rgb), color-stop(100%, rgba(0, 0, 0, 0.1)));
		    background: -webkit-linear-gradient(bottom, @content-footer-bg-color-rgb 40%, rgba(0, 0, 0, 0.1) 100%);
		    background: -o-linear-gradient(bottom, @content-footer-bg-color-rgb 40%, rgba(0, 0, 0, 0.1) 100%);
		    background: -ms-linear-gradient(bottom, @content-footer-bg-color-rgb 40%, rgba(0, 0, 0, 0.1) 100%);
		    background: linear-gradient(to top, @content-footer-bg-color-rgb 40%, rgba(0, 0, 0, 0.01) 100%);
		}
	}

/**
 * Подвал.
 */

footer {
	position: absolute;
	bottom: 0;
	z-index: 9999;
	width: 100%;
	height: @footer-height;
	line-height: @footer-height;
	overflow-y: hidden;
	background: @footer-bg-color;
	color: @footer-text-color;
	box-shadow: @footer-box-shadow;
	text-shadow: @footer-text-shadow;

	.container {
		text-align: center;
	}
}

/**
 * Перекрывающий div при ajax запросах.
 */
.loading-overlay {
	position: fixed;
	z-index: 1000000;
	top: 0;
	left: 0;
	background-color: #BBB;
	opacity: 0;
	width: 100%;
	height: 100%;

	h1 {
		position: relative;
		color: #fff;
		text-shadow: 0px 1px 1px #000;
		top: 40%;
	}
}

.overlay-visible {
	opacity: 0.5;
	transition: opacity 0.2s ease-in-out;
} 

.overlay-hidden {
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
} 


/**
 * Вспомогательные элементы.
 */

@import 'utils.less';

/**
 * Эффекты.
 */

@import 'fx.less';

/**
 * Кнопки.
 */

@import 'buttons.less';

/**
 * Надписи.
 */

@import 'labels.less';

/**
 * Таблицы.
 */

@import 'tables.less';

/**
 * Формы.
 */

@import 'forms.less';

/**
 * Панели.
 */

@import 'panels.less';

/**
 * Панели навигации.
 */

@import 'navbars.less';

/**
 * Стили отдельных модулей и компонентов.
 */

@import 'screens.less';