.navbar {
	border: 0;
}

.nav {
	> li {
		> a {
			padding: 14px 20px 14px 25px;
			color: #A7B1C2;
			font-weight: 600;
		}

		&.active {
			> a {
				color: #FFFFFF;
			}
		}
	}

	&.navbar-right {
		> li {
			> a {
				color: #999C9E;

				&:hover {
					color: #6E767A;
				}
			}
		}
	}
}

.navbar-default {
	background-color: transparent;
	border-color: #2F4050;

	.nav {
		> li {
			> a:hover, > a:focus {
				background-color: #293846;
				color: white;
			}
		}
	}
}

.nav {
	.open {
		> a, > a:hover, > a:focus {
			background: #FFFFFF;
		}
	}
}

.nav.navbar-top-links > li > a:hover, .nav.navbar-top-links > li > a:focus {
	background-color: transparent;
}
.nav > li > a i {
	margin-right: 6px;
}

//
// Левая панель.
//

.nav-sidebar {
	.nav.first-level {
		width: @sidebar-width;

		&:before {
			display: block;
			content: '';
			position: absolute;
			top: 0;
			width: @sidebar-width;
			height: 100%;
			background: @sidebar-bg-color;
		}

		> li {
			> .outer {
				display: table;
				width: 100%;
				height: 86px;
				table-layout: fixed;
				overflow: hidden;
				> a {
					display: table-cell;
					text-align: center;
					vertical-align: middle;
					text-decoration: none;
					color: @sidebar-item-text-color;
					text-shadow: @sidebar-item-text-shadow-color;
					transition: background 0.5s;

					.badge {
						background: @sidebar-item-text-color;
						color: @sidebar-bg-color;
						text-shadow: none;
					}
				}
			}

			&:hover, &.active, &.active:hover {
				> .outer {
					> a {
						background: @sidebar-active-item-bg-color;
						color: @sidebar-active-item-text-color;
						transition: background 0.5s;

						.badge {
							background: @sidebar-active-item-text-color;
							color: @sidebar-bg-color;
							text-shadow: none;
						}
					}
				}
			}

			&.active {
				> .outer {
					border-left: @sidebar-active-item-border;
					> a > .badge {
						background: @sidebar-active-item-text-color;
						color: @sidebar-bg-color;
						text-shadow: none;
					}
				}
			}
		}
	}

	.nav.second-level {
		position: fixed;
		left: @sidebar-width;
		top: 0;
		width: @sidebar-sub-width;
		height: 9999px;
		white-space: nowrap;
		background: @sidebar-sub-bg-color;
		border-left: 1px solid @sidebar-divider-top-border-color;
		border-right: 1px solid @sidebar-divider-bottom-border-color;

		> li {
			> a {
				padding: 10px;
				text-decoration: none;
				background: @sidebar-sub-bg-color;
				color: @sidebar-item-text-color;
				text-shadow: @sidebar-item-text-shadow-color;
				transition: background 0.5s;

				> i {
					width: 20px;
					text-align: center;
				}
			}

			&:hover, &.active, &.active:hover {
				> a {
					background: @sidebar-active-item-bg-color;
					color: @sidebar-active-item-text-color;
					transition: background 0.5s;
				}
			}
		}
	}

	.nav .label {
		font-size: 100%;
		padding-bottom: 2px;
		.border-radius(50%, 50%, 50%, 50%);
	}

	.nav-bottom {
		position: absolute;
		bottom: 0;
	}

	.nav-divider {
		margin: 10px 0;
		background-color: transparent;
		border-top: 1px solid @sidebar-divider-top-border-color;
		border-bottom: 1px solid @sidebar-divider-bottom-border-color;

		&:first-child, &:last-child {
			display: none;
		}
	}
}

//
// Верхняя панель.
//

.navbar-fixed-top {
	width: 100%;
	height: @toolbar-height;
	padding: 10px 20px;
	background: #FFFFFF;
	border-bottom: 1px solid #e7eaec !important;
	.box-shadow(0 5px 10px rgba(0, 0, 0, .10));
}

.navbar-top-links {
	> li {
		display: inline-block;

		&:last-child {
			margin-right: 40px;
		}
		
		> a {
			min-height: 50px;
			padding: 20px 10px;
		}
	}
}

//
// Хлебные крошки.
//

.breadcrumbs {
	margin-left: @sidebar-width + @sidebar-sub-width;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	&.no-sub-sidebar {
		margin-left: @sidebar-width;
	}

	&.no-sidebar{
		margin-left:0px;
	}
}

.breadcrumb {
	margin-bottom: 0;
	padding: 0;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 20px;
	background: #FFFFFF;

	> li {
		& + li:before {
			content: '\00BB';
			padding-right: 0;
		}

		> a {
			font-family: 'Roboto';
			font-weight: 300;
			color: inherit;
		}

		&.active {
			color: inherit;
		}

		> strong {
			font-family: 'Roboto';
			font-weight: 500;
		}
	}
}

//
// Панель инструментов.
//

.nav-toolbar {
	list-style-type: none;

	> li {
		float: left;
		margin-left: 10px;

		&:first-child {
			margin-left: 0;
		}

		> button[is-visible="false"] {
			display: none;
		}
	}
}