.middle-box {
	margin: 100px auto 30px auto;
	padding: 20px;
	background: #fff;
	border: 1px solid #D4D4D4;

	h1 {
		margin-bottom: 0;
		color: #D4D4D4;
	}

	&.error-screen {
		h1 {
			font-size: 10em;
		}
	}
}

//
// Бокс с содержимым.
//

.gbox {
	clear: both;
	margin-bottom: 25px;
	margin-top: 0;
	padding: 0;
	background: #FFFFFF;

	&:after, &:before {
		display: table;
	}

	.gbox-title, .gbox-content {
		h1, h2, h3, h4, h5 {
			margin-top: 5px;
		}
	}

	.gbox-heading {
		background-color: #F3F6FB;
		border-bottom: none;

		h3 {
			font-weight: 200;
			font-size: 24px;
		}
	}

	.gbox-title {
		float: left;
		width: 100%;
		margin-bottom: 0;
		padding: 14px 15px 7px;
		background: #FFFFFF;
		border-color: #BBBBBB;
		border-style: solid solid none;
		border-width: 4px 0px 0;
		color: inherit;

		h5 {
			display: inline-block;
			float: left;
			margin: 0 0 7px;
			padding: 0;
			font-size: 14px;
			text-overflow: ellipsis;

			&.fix-m {
				margin-top: 8px;
			}
		}

		.label {
			float: left;
			margin-left: 4px;
		}
	}

	.gbox-content {
		clear: both;
		padding: 15px 20px 20px 20px;
		background: #FFFFFF;
		color: inherit;
		border-color: #E7EAEC;
		border-style: solid solid none;
		border-width: 1px 0px;
	}

	.gbox-controls {
		display: inline-block;
		float: right;
		position: relative;
		margin-top: 0;
		padding: 0;

		a {
			cursor: pointer;
			margin-left: 5px;
			color: #C4C4C4;

			&:hover {
				color: #A4A4A4;
			}
		}

		.dropdown-menu {
			> li {
				> a {
					padding: 4px 10px;
					font-size: 12px;
				}
			}
		}
	}

	.open {
		> .dropdown-menu {
			left: auto;
			right: 0;
		}
	}
}

//
// Вкладки.
//

.gtab {
	.nav-tabs {
		.active {
			a {
				color: #555555;
			}
		}
	}

	.tab-content {
		padding: 15px 20px 20px 20px;
		background: #FFFFFF;
		border: 1px solid #DDDDDD;
		border-top-width: 0;
		color: inherit;
	}
	.tab-right
	{
		float: right;
	}
}

//
// Выпадающие списки.
//

.dropdown-menu {
	.border-radius(3px);
	.box-shadow(0 0 3px rgba(86, 96, 117, 0.7));

	a {
		color: #000 !important;
	}
}

.dropdown-toggle {
	outline: 0;
}

//
// Прочие блоки.
//

.panel {
	.border-radius(0);
	background: initial;
}

.panel-shortcuts {
	.panel-heading {
		padding: 10px 15px;
		background: #CFCFCF;
		border-bottom: 1px solid #D4D4D4;
		.border-radius(5px, 0, 0, 5px);
	}

	.panel-title {
		color: #FFFFFF;

		&.fix-m {
			margin-top: 8px;
		}
	}

	.panel-body {
		background: #FFFFFF;
		border: 1px solid #D4D4D4;
	}

	.panel-body.shortcut-icon {
		text-align: center;
		color: inherit;

		i {
			color: #C4C4C4;
			font-size: 96px;
		}
	}

	&.clickable {
		&:hover, &:focus {
			cursor: pointer;

			.panel-body.shortcut-icon {
				color: #000;

				i {
					color: #A4A4A4;
				}
			}
		}
	}
}

.undo-block {
	margin: 30px 0 15px 0;
}
.attachment {
  margin-top: 4px;
  text-align: right;
}
.camera{
	width:320px;
	height:240px;	
	display: inline-block;
}
.pixel{
	width:80px;
	height:60px;
	transition: all 0.5s;
	&.big{
		width:320px;
		height:240px;
	}
}
.widget{
	border-radius: 5px;
	padding: 15px;
	margin-top: 15px !important;
	margin-left:15px !important;
}
.widget-head-color-box {
	border-radius: 5px 5px 0 0;
	margin-top: 15px !important;
	margin-left:15px;
	padding:15px;
}
.angle-block{
	position: fixed;
	bottom: 29px;
	left:257px;
	z-index:2;
}
.cam-timer-descript
{
	position: fixed;
	bottom: 262px;
	left:262px;
	z-index:2;
	.arrow{
		padding-left: 119px;
	}
	.cam-text{
		color:white;
	}
}
.cam-timer-back{
	position: absolute;
	background-color: #000;
	opacity: 0.7;
	width: 100%;
	z-index: 2;
	height: 100%;
	top: 0px;
	left: 0px;
}
.widget-text-box {
	padding: 15px;
	border: 1px solid #e7eaec;
	background: #ffffff;
	color:#676a6c;
	margin-left:15px;
	max-height:50%;
}
.lazur-bg {
	background-color: #23c6c8;
	color: #ffffff;
}
.green-bg {
	background-color: #48BD65 !important;
	color: #ffffff;	
}
.b-lazur-bg {
	background-color: #00a2c8;
	color: #ffffff;
}
.stripe-2 {
  background: repeating-linear-gradient(
    180deg,
    transparent,
    transparent 10px,
    #E3CCC5 1%,
    #E3CCC5 2%
  );
    background-size:100% 100%;
    background-attachment: fixed;

}
.img-circle{
	border-radius: 50%;
	width:40%;
}
.fixed{
	position:fixed
}
.relative{
	position:relative;
}
.circle-border {
	border: 6px solid #FFFFFF;
	border-radius: 50%;
}

.block-center {
	margin-left:auto;
	margin-right:auto;
}

//
// Контейнер файлов.
//
.dropfile-zone {
	display: block;
	margin: 0;
	padding: 20px 20px 0;
	overflow-x: hidden;
	overflow-y: auto;
	background: #f2f2f2;
	border: 4px dashed #ccc;

	.gbox-wrap {
		display: inline-block;
		margin-bottom: 15px;
		margin-right: 15px;
		text-align: left;

		.box-shadow(0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;);
	}

	.gbox {
		margin-bottom: 0;
		overflow: hidden;

		.gbox-title {
			padding-left: 10px;
			padding-right: 10px;
			border: 0;

			> h5 {
				width: 90%;
			}
		}

		.gbox-controls {
			> a {
				color: inherit;
			}
		}

		.gbox-content {
			padding: 5px;
		}
	}

	.progress {
		margin: 10px;
	}

	.comment {
		width: 100%;
		height: 80%;
		padding: 4px;
		resize: none;
		font-size: 12px;
	}

	.attachment {
		margin-top: 4px;
		text-align: right;
	}
	
	.empty-placeholder {
		position: relative;
		top: 40%;
		font: italic normal 300 24px 'Roboto';
		text-align: center;

		strong {
			font-weight: 500;
		}
	}
}
//
// Контейнер файлов для семинаров.
//
.dropfile-zone-seminar {
	display: block;
	margin: 0;
	padding: 20px 20px 0;
	overflow-x: hidden;
	overflow-y: auto;
	background: #f2f2f2;
	border: 4px dashed #ccc;
	height:150px;

	.gbox-wrap {
		display: inline-block;
		margin-bottom: 15px;
		margin-right: 15px;
		text-align: left;
		width:150px;

		.box-shadow(0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;);
	}

	.gbox {
		margin-bottom: 0;
		overflow: hidden;

		.gbox-title {
			padding: 5px 5px 5px;
			border: 0;

			.icon{
				text-align: center;
				 .btn{
				    margin-bottom: 5px;

				&.del{
					margin-left: 18px;
					}
				}
			}

			h5 {
			    margin: 0 0 0px;
			}
		}

		.gbox-controls {
			> a {
				color: inherit;
			}
		}

		.gbox-content {
			padding: 5px;
			height:50px;

			h5{
				width:150px;
			}
		}
	}

	.progress {
		margin: 10px;
	}

	.comment {
		width: 100%;
		height: 80%;
		padding: 4px;
		resize: none;
		font-size: 12px;
	}

	.attachment {
		margin-top: 4px;
		text-align: right;
	}

	.empty-placeholder {
		position: relative;
		top: 30%;
		font: italic normal 300 24px 'Roboto';
		text-align: center;

		strong {
			font-weight: 500;
		}
	}
}
.dragover {
		background: #e2e2e2;
  		border: 4px dashed #ccc;
	}