.middle-box.register-screen, .middle-box.login-screen, .middle-box.recover-screen {
	width: 400px;
}

.login-screen, .register-screen, .recover-screen {
	.input-group-addon {
		width: 40px;
	}
}

.profile-screen {
	.avatar {
		background: #F9F9F9;
		overflow: hidden;
	}
}

.lesson-screen {
	.dropfile-zone {
		height: 275px;

		.gbox-wrap {
			width: 220px;
		}

		.gbox {
			.gbox-content {
				height: 173px;
			}
		}
	}
}

.journal-screen {
	.documents, .materials {
		padding: 0;
		list-style-type: none;

		li {
			margin-bottom: 4px;
		}
	}
}