.table > thead > tr > th,
.table > tfoot > tr > td,
.table > tbody > tr > td {
	vertical-align: middle;
}

.table > tbody > tr > td {
	padding: 10px;
}

.table {
	margin-bottom: 0;

	.actions {
		float: right;
		margin: 0;
		padding: 0;
		list-style-type: none;

		> li {
			float: left;
			margin-left: 4px;
			.user-select(none);

			&:first-child {
				margin-left: 0;
			}

			> a {
				color: inherit;
				cursor: pointer;
			}
		}

		&.autohide {
			opacity: 0;
			.transition(opacity 0.3s linear);
		}
	}

	tr {
		&:hover, &.active {
			.actions {
				&.autohide {
					opacity: 1;
				}
			}
		}
	}

	.group-heading {
		text-align: center;
		background: #EAEAEA;
	}

	.ui-select-multiple {
		.ui-select-match {
			.ui-select-match-item {
				width: 100%;
				overflow-x: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}
}
