h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 16px;
}

h4 {
	font-size: 14px;
}

h5 {
	font-size: 12px;
}

h6 {
	font-size: 10px;
}

h3, h4, h5 {
	margin-top: 5px;
	font-weight: 600;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

a, a:focus, a:hover, a:visited {
	text-decoration: none;
}

.black-bg {
	background-color: #262626 !important;
}
.white-bg {
	background-color: #FFFFFF !important;
}
.gray-bg {
	background-color: #F3F3F4 !important;
}
.navy-bg {
	background-color: #1AB394 !important;
	color: #FFFFFF !important;
}
.blue-bg {
	background-color: #1C84C6 !important;
	color: #FFFFFF !important;
}
.yellow-bg {
	background-color: #F8AC59 !important;
	color: #FFFFFF !important;
}
.red-bg {
	background-color: #ED5565 !important;
	color: #FFFFFF !important;
}

.cursor-default {
	cursor: default;
}
.cursor-pointer {
	cursor: pointer;
}

.font-black {
	color: #262626 !important;
}
.font-white {
	color: #FFFFFF !important;
}
.font-gray {
	color: #F3F3F4 !important;
}
.font-navy {
	color: #1A5CB3 !important;
}
.font-blue {
	color: #1C84C6 !important;
}
.font-yellow {
	color: #F8AC59 !important;
}
.font-red {
	color: #ED5565 !important;
}

.striped-bg {
	background-image: url(data:image/gif;base64,R0lGODlhFAAUAOMAAP////b29t3uHt3uHt3uHt3uHvb29vb29vb29vb29vb29vb29vb29vb29vb29vb29iH5BAEAAAAALAAAAAAUABQAAARO0ByU1GLNPcC7n9WVbV5pUBamleYRqiTLSUg6yh2diCsO6AqY7wey3HzASw+XxMRkzcwwumRRny0UD+u5Iovbr1bIBJOh5iN6rLamq6UIADs=);
	background-repeat: repeat;
}

.w100 { width: 100%; }
.w80 { width: 80%; }
.w60 { width: 60%; }
.w50 { width: 50%; }
.w40 { width: 40%; }
.w30 { width: 30%; }
.w25 { width: 25%; }
.w20 { width: 20%; }
.w1 { width: 1%; }

.h100 { height: 100%; }
.h80 { height: 80%; }
.h50 { height: 50%; }
.h40 { height: 40%; }
.h30 { height: 30%; }
.h25 { height: 25%; }
.h20 { height: 20%; }
.h1 { height: 1%; }


.pos-rel{
	position:relative;
}
.pos-abs{
	position:absolute;
}

.w-auto { width: auto !important; }
.h-auto { height: auto !important; }

.no-m { margin: 0 !important; }
.no-m-t { margin-top: 0 !important; }
.no-m-b { margin-bottom: 0 !important; }
.no-m-l { margin-left: 0 !important; }
.no-m-r { margin-right: 0 !important; }

.m-lg { margin: 60px !important; }
.m-t-lg { margin-top: 60px !important; }
.m-b-lg { margin-bottom: 60px !important; }
.m-l-lg { margin-left: 60px !important; }
.m-r-lg { margin-right: 60px !important; }
.m-md { margin: 30px !important; }
.m-t-md { margin-top: 30px !important; }
.m-b-md { margin-bottom: 30px !important; }
.m-l-md { margin-left: 30px !important; }
.m-r-md { margin-right: 30px !important; }
.m-xsm { margin: 15px !important; }
.m-t-xsm { margin-top: 15px !important; }
.m-b-xsm { margin-bottom: 15px !important; }
.m-l-xsm { margin-left: 15px !important; }
.m-r-xsm { margin-right: 15px !important; }
.m-sm { margin: 10px !important; }
.m-t-sm { margin-top: 10px !important; }
.m-b-sm { margin-bottom: 10px !important; }
.m-l-sm { margin-left: 10px !important; }
.m-r-sm { margin-right: 10px !important; }
.m-lg { margin: 60px !important; }
.m-xs { margin: 5px !important; }
.m-t-xs { margin-top: 5px !important; }
.m-b-xs { margin-bottom: 5px !important; }
.m-l-xs { margin-left: 5px !important; }
.m-r-xs { margin-right: 5px !important; }

.no-p { padding: 0 !important; }
.no-p-t { padding-top: 0 !important; }
.no-p-b { padding-bottom: 0 !important; }
.no-p-l { padding-left: 0 !important; }
.no-p-r { padding-right: 0 !important; }

.p-lg { padding: 60px !important; }
.p-t-lg { padding-top: 60px !important; }
.p-b-lg { padding-bottom: 60px !important; }
.p-l-lg { padding-left: 60px !important; }
.p-r-lg { padding-right: 60px !important; }
.p-mds { padding: 20px !important; }
.p-t-mds { padding-top: 20px !important; }
.p-b-mds { padding-bottom: 20px !important; }
.p-l-mds { padding-left: 20px !important; }
.p-r-mds { padding-right: 20px !important; }
.p-md { padding: 30px !important; }
.p-t-md { padding-top: 30px !important; }
.p-b-md { padding-bottom: 30px !important; }
.p-l-md { padding-left: 30px !important; }
.p-r-md { padding-right: 30px !important; }
.p-xsm { padding: 15px !important; }
.p-t-xsm { padding-top: 15px !important; }
.p-b-xsm { padding-bottom: 15px !important; }
.p-l-xsm { padding-left: 15px !important; }
.p-r-xsm { padding-right: 15px !important; }
.p-sm { padding: 10px !important; }
.p-t-sm { padding-top: 10px !important; }
.p-b-sm { padding-bottom: 10px !important; }
.p-l-sm { padding-left: 10px !important; }
.p-r-sm { padding-right: 10px !important; }
.p-xs { padding: 5px !important; }
.p-t-xs { padding-top: 5px !important; }
.p-b-xs { padding-bottom: 5px !important; }
.p-l-xs { padding-left: 5px !important; }
.p-r-xs { padding-right: 5px !important; }

.b-t { border-top: 1px solid #e7eaec !important; }
.b-b { border-bottom: 1px solid #e7eaec !important; }
.b-l { border-left: 1px solid #e7eaec !important; }
.b-r { border-right: 1px solid #e7eaec !important; }

.no-b { border: 0 !important; }
.no-b-t { border-top: 0 !important; }
.no-b-b { border-bottom: 0 !important; }
.no-b-l { border-left: 0 !important; }
.no-b-r { border-right: 0 !important; }

.no-lst-t { list-style-type: none !important; }

.va-t { vertical-align: top !important; }
.va-m { vertical-align: middle !important; }
.va-b { vertical-align: bottom !important; }

.text-muted { color: @muted-text-color; }

.to-e {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

.no-st {
	width: 1%;
	white-space: nowrap;
}

.no-wr {
	white-space: nowrap;
}

.no-fl {
	float: none;
}

.no-rs {
	resize: none;
}

.scroll-horizontal {
	overflow-y: none;
	overflow-x: auto;
	max-width: 100%;
}

.scroll-vertical {
	overflow-x: none;
	overflow-y: auto;
	max-height: 100%;
}
.scroll-horizontal-vertical {
	overflow-x: auto;
	overflow-y: auto;
	max-height: 100%;
}

.tbl-brw {
	table-layout: fixed;
	word-wrap: break-word;
}

.d-bl { display: block !important; }
.d-inl-bl { display: inline-block !important; }
.d-tbl { display: table !important; }
.d-tbl-r { display: table-row !important; }
.d-tbl-c { display: table-cell !important; }

//
// Постраничная навигация.
//

.pagination {
	margin: 0;

	> li {
		> a, > span {
			text-decoration: none;
			background-color: #FFFFFF;
			color: inherit;
			border: 1px solid #DDDDDD;
			cursor: pointer;
			.user-select(none);
		}
	}

	> .active {
		> a, > a:hover, > a:focus, > span, > span:hover, > span:focus {
			background-color: #F4F4F4;
			border-color: #DDDDDD;
			color: inherit;
			cursor: default;
		}
	}

	> .active > a, > .active > span, > .active > a:hover, > .active > span:hover, > .active > a:focus, > .active > span:focus {
		z-index: initial;
	}
}

//
// Перетаскиваемый список.
//

.draggable-list {
	list-style-type: none;
	padding: 0;
	padding-bottom: 40px;
	background-color: #FFFFFF;
	.box-shadow(inset 0 0 1px #666);

	.draggable-item {
		display: table;
		margin-bottom: 3px;
		width: 100%;
		cursor: pointer;
		background: #F5F5F5;
		color: #333;
		border: 1px solid #E7EAEC;
		.border-radius(3px);

		> span {
			display: table-cell;
			padding: 10px;
		}

		.handle {
			display: table-cell;
			width: 35px;
			height: 100%;
			cursor: move;
			text-align: center;
			vertical-align: middle;

			> i {
				opacity: 0;
				vertical-align: middle;
				color: #BDBABA;
				transition: opacity 0.5s ease-in-out;
			}
		}

		.remove {
			display: table-cell;
			width: 35px;
			height: 100%;
			cursor: move;
			text-align: center;
			vertical-align: middle;

			> i {
				opacity: 0;
				vertical-align: middle;
				color: #BDBABA;
				transition: opacity 0.5s ease-in-out;
			}
		}

		&.active, &.hover {
			font-weight: bold;
			background: #FFF2DE;
		}

		&:hover {
			.handle > i, .remove > i {
				color: #6B6B6B;
				opacity: 1;
			}
		}
	}
}

.super-draggable-list {
	ul, ol {
		list-style-type: none;

		li {
			&.angular-ui-tree-placeholder {
				background: #CEECF3;
				border: 2px dashed #A9D5DF;
			}

			.angular-ui-tree-handle {
				margin-top: -1px;
				background: #E6F5F9;
				border: 1px solid #C4E0E7;
				color: #333;

				&.active, &:hover {
					background: #EFEFEF;
					border: 1px solid #EDDADA;
				}
			}
		}

		& + .angular-ui-tree-empty {
			background: #CEECF3;
			border: 2px dashed #A9D5DF;
		}
	}

	> ul, > ol {
		margin: 0;
		padding: 0;
	}

	.angular-ui-tree-placeholder {
		margin: 0;
		padding: 20px 10px;
		cursor: pointer;
		.box-sizing(border-box);
	}

	.angular-ui-tree-handle {
		display: table;
		width: 100%;
		padding: 10px;
		cursor: pointer;

		> div {
			display: table-cell;
			vertical-align: middle;
		}

		label.checkbox {
			display: table-cell;
		}
	}

	.angular-ui-tree-empty {
		min-height: 50px;
	}

	.actions {
		margin: 0;
		padding: 0;
		text-align: right;
		white-space: nowrap;
		list-style-type: none;

		&.autohide {
			opacity: 0;
			.transition(opacity 0.3s linear);
		}
	}

	.angular-ui-tree-handle {
		&:hover {
			.actions {
				&.autohide {
					opacity: 1;
				}
			}
		}
	}
}

//
// Прочее.
//

.scroll-horizontal {
	overflow-y: hidden;
	overflow-x: auto;
	max-width: 100%;
}

.scroll-vertical {
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 100%;
}

.center {
	text-align: center;
}
.right {
	text-align: right;
}

.left {
	text-align: left;
}

.nga-form-validator {
	position: absolute;
	left: 100%;
	margin-left: -320px;
	width:300px; top: 100%;
	height: 150px;
	margin-top: -190px;
	z-index: 999999;
	padding-bottom: 40px;
	padding-top: 5px;
}

.gns-directive-video-popup {
	position: absolute; 
	top:0; 
	left:0; 
	width:100%; 
	height:100%; 
	z-index: 99999;

	opacity: 0.1;
	transition: opacity 0.2s ease-in-out;

	.container {
		background-color: #000;
		opacity: 0.7;
	}

	.pull-right {
		position: absolute; 
		z-index: 1000000;
		left: 100%;
		margin-left: -45px;

		i {
			opacity: 0.6;
			transition: opacity 0.5s ease-in-out;
			color: #fff;
		}

		i:hover {
			opacity: 1;
			transition: opacity 0.5s ease-in-out;
		}
	}

	.pull-left {
		position: absolute; 
		z-index: 1000000;
		padding-left: 40px;
		color: #fff;
		text-shadow: 0px 0px 11px rgba(0, 0, 0, 1);
	}

	.video {
		position: absolute; 
		z-index: 100000;
		width: 100%;
		height: 100%;
		padding-top: 70px;
	}
}
.gns-directive-test-popup {
	position: absolute; 
	top:0; 
	left:0; 
	width:100%; 
	height:100%; 
	z-index: 99999;
	transition: opacity 0.2s ease-in-out;

	.container {
		background-color: #000;
		opacity: 0.7;
	}

	.pull-right {
		position: absolute; 
		z-index: 1000000;
		left: 100%;
		margin-left: -45px;

		i {
			opacity: 0.6;
			transition: opacity 0.5s ease-in-out;
			color: #fff;
		}

		i:hover {
			opacity: 1;
			transition: opacity 0.5s ease-in-out;
		}
	}
	.right-control-panel {
		position: absolute; 
		z-index: 1000000;
		left: 100%;
		margin-left: -360px;
  		top: 20px;

  		.cw200{
  			width: 200px;
  		}
	}

	.pull-left {
		position: absolute; 
		z-index: 1000000;
		padding-left: 40px;
		color: #fff;
		text-shadow: 0px 0px 11px rgba(0, 0, 0, 1);
	}

	.gns_test_container {
		position: absolute; 
		z-index: 100000;
		width: 100%;
		height: 100%;
		padding-top: 70px;
	  	margin-top: 70px;
		background-color: white;

		th{
			text-align:center
		}

		.quest-deleted{
			background-color: #eee5de;
		}
	}

	.glyphicon-ban-circle{
		color: red;
	}

	.glyphicon-ok-circle{
		color: green;
	}

}
.gns-directive-prof-test-popup {
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 99999;
	transition: opacity 0.2s ease-in-out;

	.container {
		background-color: #000;
		opacity: 0.7;
	}

	.pull-right {
		position: absolute;
		z-index: 1000000;
		left: 100%;
		margin-left: -45px;

		i {
			opacity: 0.6;
			transition: opacity 0.5s ease-in-out;
			color: #fff;
		}

		i:hover {
			opacity: 1;
			transition: opacity 0.5s ease-in-out;
		}
	}
	.right-control-panel {
		position: absolute;
		z-index: 1000000;
		top: 0px;

		.cw200{
			width: 200px;
		}
	}

	.pull-left {
		position: absolute;
		z-index: 1000000;
		padding-left: 40px;
		color: #fff;
		text-shadow: 0px 0px 11px rgba(0, 0, 0, 1);
	}

	.gns_test_container {
		position: absolute;
		z-index: 100000;
		width: 100%;
		height: 100%;
		padding-top: 70px;
		margin-top: 70px;
		background-color: white;

		th{
			text-align:center
		}

		.quest-deleted{
			background-color: #eee5de;
		}
	}

	.glyphicon-ban-circle{
		color: red;
	}

	.glyphicon-ok-circle{
		color: green;
	}

}
.gns-directive-taking-test-popup {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 99999;
	transition: opacity 0.2s ease-in-out;

	.container {
		background-color: #000;
		opacity: 0.7;
	}

	.pull-right {
		position: absolute;
		z-index: 1000000;
		left: 100%;
		margin-left: -45px;

		i {
			opacity: 0.6;
			transition: opacity 0.5s ease-in-out;
			color: #fff;
		}

		i:hover {
			opacity: 1;
			transition: opacity 0.5s ease-in-out;
		}
	}
	.rigt-control-panel {
		position: absolute;
		z-index: 1000000;
		left: 100%;
		margin-left: -150px;
		top: 20px;

		.timer{
			font-size: 24px;
			color: #fff;
		}
	}

	.pull-left {
		position: absolute;
		z-index: 1000000;
		padding-left: 40px;
		color: #fff;
		text-shadow: 0px 0px 11px rgba(0, 0, 0, 1);
	}

	.gns_taking_test_container {
		position: absolute;
		z-index: 100000;
		width: 100%;
		height: 100%;
		padding-top: 10px;
		margin-top: 70px;
		background-color: white;

		.gns_tt_question_list{
			text-align: center;
		}
		.gbox{
			margin-bottom: 0px;
		}
		.btn{
			margin: 2px;
		}
	}
	.glyphicon-ban-circle{
		color: red;
	}

	.glyphicon-ok-circle{
		color: green;
	}
}
.gns-directive-taking-vote-popup{
	.gns-directive-prof-test-popup;
	.gns_test_container {
		padding-top:0px;
	}
}
.gns-chat {
	border: 1px #EEE solid;
	padding: 10px;

	.message-hidden {
		opacity: 0.1;
	}

	.message-my {
		display: table-row;
		float: right;
		margin: 0 0 5px 30px;
		white-space: nowrap;
		opacity: 1;
		transition: opacity 0.6s ease-in-out;

		div {
			padding: 10px;
			border-radius: 5px;
			background-color: #D3FFD2;
			display: table-cell;
			white-space: normal;

			span {
				color: #888;
				font-size: 80%;
			}
		
		}

		&:after {
			content: "\f0da";
			font-family: 'FontAwesome';
			color: #D3FFD2;
			display: table-cell;
			font-size: 19px;
		}
	}

	.message-other {
		display: table-row;
		float: left;
		margin: 0 30px 5px 0;
		white-space: nowrap;
		opacity: 1;
		transition: opacity 0.6s ease-in-out;

		> div {
			padding: 10px;
			border-radius: 5px;
			background-color: #CCF3F4;
			display: table-cell;
			white-space: normal;

			span {
				color: #888;
				font-size: 80%;
			}
		}

		&:before {
			content: "\f0d9";
			font-family: 'FontAwesome';
			color: #CCF3F4;
			display: table-cell;
			font-size: 19px;
		}
	}
}

.journal 
{
	.student {
		min-height: 60px;
		padding-bottom: 10px;

		&:hover {
			.buttons {
				opacity: 1;
				transition: opacity 0.3s ease-in-out;
			}
		}

		.buttons {
			opacity: 0;
			transition: opacity 0.3s ease-in-out;
		}

		.fio {
			padding: 0 10px 0 0;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			.btn {
				margin-bottom: 5px;
			}
		}
		.group-checkbox
		{
			width:50px;
		}
		.color-group-left{
			width: 5px;
			height: 50px;
			float: left;
		}
	}
	.journal-group{
		min-height: 40px;
		padding-bottom: 5px;
		.color-group-left{
			width: 10px;
			height: 40px;
			float: left;
		}
		.color-group-right{
			width: 10px;
			height: 40px;
			float: right;
		}
		.num-student-in{
			display:inline-block;
		}
	}
	.check-group{
		.btn-primary{
			float:left;
		}
		.btn-warning{
			float:right
		}
	}

	.dialog {
	    display: block;
	    max-height: 0;
	    overflow: hidden;
	    transition: max-height 0.05s ease-in-out, padding 0.3s ease-in-out, margin 0.3s ease-in-out;
	    -webkit-transition: max-height 0.05s ease-in-out, padding 0.3s ease-in-out, margin 0.3s ease-in-out;
		padding: 0;
		margin: 0;

		.btn-circle{
			width:25px;
			height:25px;
			padding:4px 0;
		}

		&.visible {
			max-height: 100%;
			border-bottom: 1px #eee solid;
			padding-bottom: 5px;
			margin-bottom: 5px;
		}
	}	
}
.gbox-content.teacher-journal{
	padding: 15px 0px 20px 0px !important;
}
.animate-show {
  opacity: 1;
}
.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.animate-show.ng-hide {
  opacity: 0;
}
.rtmp-player {
	display: inline-block; 
	padding: 1px 3px;

	button {
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
		margin: 5px;
	}

	&:hover {
		button {
			opacity: 1;
			transition: opacity 0.3s ease-in-out;
		}
	}
	.cam-switch{
		.active{
			color:red;
		}
	}
}
	
.avatar-dash {
	max-width: 100px;
	max-height: 100px;
	border:3px;
	overflow:hidden;
	cursor:pointer;
}
.cut-div{
	width:180px !important;
	height:200px;
	overflow:hidden;
}
.pointer{
	cursor:pointer;
}
.transact{
	transition:1s ease-out all;
}
.invise{
opacity:0;
height:10%;
	&:hover{
	opacity:1.0;
	background-color:#B8B8B8;
	}
}
//
// CkEditor.
//

.cke_combo_text {
	width: auto !important;
}


.gns-directive-paint {
	position: absolute; 
	top:0; 
	left:0; 
	width:100%; 
	height:100%; 
	z-index: 9999;

	transition: opacity 0.5s;
	opacity:0;
	&.visible {
		opacity:1;
	}

	.container {
		background-color: #000;
		opacity: 0.7;
	}

	.pull-right {
		position: absolute;
		right: 20px;
		z-index: 10001;
		margin-top: 20px;

		input {
			width:150px;
			display: inline-block;
			padding-top:2px;
		}
	}

	.pull-left {
		position: absolute;
		z-index: 10000;
		padding-left: 30px;
		color: #fff;
		text-shadow: 0px 0px 11px rgba(0, 0, 0, 1);
	}

	.inner-container {
		position: absolute;
		z-index: 10000;
		width: 100%;
		height: 100%;
		padding: 70px 0px 0px 0px;

		.paint-panel {
			background-color: #fff;
			overflow: auto;
			width: 100%;
			height: 100%;
		}
	}
}
.gns-directive-photo-cam {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 9999;

	opacity: 0.1;
	transition: opacity 0.2s ease-in-out;

	.container {
		background-color: #000;
		opacity: 0.7;
	}

	.pull-right {
		position: absolute; 
		right: 20px;
		z-index: 10001;
		margin-top: 20px;

		input {
			width:150px;
			display: inline-block;
			padding-top:2px;
		}
	}

	.pull-left {
		position: absolute; 
		z-index: 10000;
		padding-left: 30px;
		color: #fff;
		text-shadow: 0px 0px 11px rgba(0, 0, 0, 1);
	}

	.inner-container {
		position: absolute; 
		z-index: 10000;
		width: 100%;
		height: 100%;
		padding: 70px 0px 0px 0px;

		.paint-panel {
			background-color: #fff;
			overflow: auto; 
			width: 100%;
			height: 100%;
		}
	}
}

figure>figcaption {
	h1 {
		color: #222;
		text-shadow: 1px 1px 5px #FFF;
	}
	h2 {
		color: #444;
		text-shadow: 1px 1px 5px #FFF;
	}
}

.popover {
	max-width: 500px;
}

.item-list {
	margin: 0;
	padding: 0;
	list-style-type: none;

	.selectable {
		cursor: pointer;
	}

	> li {
		display: table;

		> span, > a {
			padding: 4px 0;
			display: table-cell;
			color: inherit;
		}

		> a {
			cursor: pointer;
		}
	}
}

.avatar-circle {
	max-width: 50px;
	height: auto;
	position: relative;
	overflow: hidden;

	div {
		display: block;
		margin: 0 auto;
		height: 50px;
		width: 50px;
		border-radius: 50%;
		background: center no-repeat;
		background-size: cover;
	}
}

.avatar-circle-md {
	max-width: 80px;
	height: auto;
	position: relative;
	overflow: hidden;

	div {
		display: block;
		margin: 0 auto;
		height: 80px;
		width: 80px;
		border-radius: 50%;
		background: center no-repeat;
		background-size: cover;
	}
}

.avatar-circle-sm {
	max-width: 30px;
	height: auto;
	position: relative;
	overflow: hidden;

	div {
		display: block;
		margin: 0 auto;
		height: 30px;
		width: 30px;
		border-radius: 50%;
		background: center no-repeat;
		background-size: cover;
	}
}

.loader {
  font-size: 10px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0 0 -1em #ffffff, -2em -2em 0 0 #ffffff;
  }
  12.5% {
    box-shadow: 0 -3em 0 0 #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0 0 0 #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0 0 -1em #ffffff, -2em -2em 0 -1em #ffffff;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em #ffffff, 2em -2em 0 0 #ffffff, 3em 0 0 0.2em #ffffff, 2em 2em 0 0 #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0 0 -1em #ffffff, -2em -2em 0 -1em #ffffff;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0em 0 0 #ffffff, 2em 2em 0 0.2em #ffffff, 0 3em 0 0em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0em 0 -1em #ffffff, -2em -2em 0 -1em #ffffff;
  }
  50% {
    box-shadow: 0 -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 0em #ffffff, 0 3em 0 0.2em #ffffff, -2em 2em 0 0 #ffffff, -3em 0em 0 -1em #ffffff, -2em -2em 0 -1em #ffffff;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 0 #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0 0 0 #ffffff, -2em -2em 0 -1em #ffffff;
  }
  75% {
    box-shadow: 0em -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0em 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 0 #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0 #ffffff;
  }
  87.5% {
    box-shadow: 0em -3em 0 0 #ffffff, 2em -2em 0 -1em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 0 #ffffff, -3em 0em 0 0 #ffffff, -2em -2em 0 0.2em #ffffff;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0 0 -1em #ffffff, -2em -2em 0 0 #ffffff;
  }
  12.5% {
    box-shadow: 0 -3em 0 0 #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0 0 0 #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0 0 -1em #ffffff, -2em -2em 0 -1em #ffffff;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em #ffffff, 2em -2em 0 0 #ffffff, 3em 0 0 0.2em #ffffff, 2em 2em 0 0 #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0 0 -1em #ffffff, -2em -2em 0 -1em #ffffff;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0em 0 0 #ffffff, 2em 2em 0 0.2em #ffffff, 0 3em 0 0em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0em 0 -1em #ffffff, -2em -2em 0 -1em #ffffff;
  }
  50% {
    box-shadow: 0 -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 0em #ffffff, 0 3em 0 0.2em #ffffff, -2em 2em 0 0 #ffffff, -3em 0em 0 -1em #ffffff, -2em -2em 0 -1em #ffffff;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 0 #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0 0 0 #ffffff, -2em -2em 0 -1em #ffffff;
  }
  75% {
    box-shadow: 0em -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0em 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 0 #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0 #ffffff;
  }
  87.5% {
    box-shadow: 0em -3em 0 0 #ffffff, 2em -2em 0 -1em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 0 #ffffff, -3em 0em 0 0 #ffffff, -2em -2em 0 0.2em #ffffff;
  }
}





.loader-gray {
  font-size: 10px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4-gray 1.3s infinite linear;
  animation: load4-gray 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4-gray {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em #EEEEEE, 2em -2em 0 0em #EEEEEE, 3em 0 0 -1em #EEEEEE, 2em 2em 0 -1em #EEEEEE, 0 3em 0 -1em #EEEEEE, -2em 2em 0 -1em #EEEEEE, -3em 0 0 -1em #EEEEEE, -2em -2em 0 0 #EEEEEE;
  }
  12.5% {
    box-shadow: 0 -3em 0 0 #EEEEEE, 2em -2em 0 0.2em #EEEEEE, 3em 0 0 0 #EEEEEE, 2em 2em 0 -1em #EEEEEE, 0 3em 0 -1em #EEEEEE, -2em 2em 0 -1em #EEEEEE, -3em 0 0 -1em #EEEEEE, -2em -2em 0 -1em #EEEEEE;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em #EEEEEE, 2em -2em 0 0 #EEEEEE, 3em 0 0 0.2em #EEEEEE, 2em 2em 0 0 #EEEEEE, 0 3em 0 -1em #EEEEEE, -2em 2em 0 -1em #EEEEEE, -3em 0 0 -1em #EEEEEE, -2em -2em 0 -1em #EEEEEE;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em #EEEEEE, 2em -2em 0 -1em #EEEEEE, 3em 0em 0 0 #EEEEEE, 2em 2em 0 0.2em #EEEEEE, 0 3em 0 0em #EEEEEE, -2em 2em 0 -1em #EEEEEE, -3em 0em 0 -1em #EEEEEE, -2em -2em 0 -1em #EEEEEE;
  }
  50% {
    box-shadow: 0 -3em 0 -1em #EEEEEE, 2em -2em 0 -1em #EEEEEE, 3em 0 0 -1em #EEEEEE, 2em 2em 0 0em #EEEEEE, 0 3em 0 0.2em #EEEEEE, -2em 2em 0 0 #EEEEEE, -3em 0em 0 -1em #EEEEEE, -2em -2em 0 -1em #EEEEEE;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em #EEEEEE, 2em -2em 0 -1em #EEEEEE, 3em 0 0 -1em #EEEEEE, 2em 2em 0 -1em #EEEEEE, 0 3em 0 0 #EEEEEE, -2em 2em 0 0.2em #EEEEEE, -3em 0 0 0 #EEEEEE, -2em -2em 0 -1em #EEEEEE;
  }
  75% {
    box-shadow: 0em -3em 0 -1em #EEEEEE, 2em -2em 0 -1em #EEEEEE, 3em 0em 0 -1em #EEEEEE, 2em 2em 0 -1em #EEEEEE, 0 3em 0 -1em #EEEEEE, -2em 2em 0 0 #EEEEEE, -3em 0em 0 0.2em #EEEEEE, -2em -2em 0 0 #EEEEEE;
  }
  87.5% {
    box-shadow: 0em -3em 0 0 #EEEEEE, 2em -2em 0 -1em #EEEEEE, 3em 0 0 -1em #EEEEEE, 2em 2em 0 -1em #EEEEEE, 0 3em 0 -1em #EEEEEE, -2em 2em 0 0 #EEEEEE, -3em 0em 0 0 #EEEEEE, -2em -2em 0 0.2em #EEEEEE;
  }
}
@keyframes load4-gray {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em #EEEEEE, 2em -2em 0 0em #EEEEEE, 3em 0 0 -1em #EEEEEE, 2em 2em 0 -1em #EEEEEE, 0 3em 0 -1em #EEEEEE, -2em 2em 0 -1em #EEEEEE, -3em 0 0 -1em #EEEEEE, -2em -2em 0 0 #EEEEEE;
  }
  12.5% {
    box-shadow: 0 -3em 0 0 #EEEEEE, 2em -2em 0 0.2em #EEEEEE, 3em 0 0 0 #EEEEEE, 2em 2em 0 -1em #EEEEEE, 0 3em 0 -1em #EEEEEE, -2em 2em 0 -1em #EEEEEE, -3em 0 0 -1em #EEEEEE, -2em -2em 0 -1em #EEEEEE;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em #EEEEEE, 2em -2em 0 0 #EEEEEE, 3em 0 0 0.2em #EEEEEE, 2em 2em 0 0 #EEEEEE, 0 3em 0 -1em #EEEEEE, -2em 2em 0 -1em #EEEEEE, -3em 0 0 -1em #EEEEEE, -2em -2em 0 -1em #EEEEEE;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em #EEEEEE, 2em -2em 0 -1em #EEEEEE, 3em 0em 0 0 #EEEEEE, 2em 2em 0 0.2em #EEEEEE, 0 3em 0 0em #EEEEEE, -2em 2em 0 -1em #EEEEEE, -3em 0em 0 -1em #EEEEEE, -2em -2em 0 -1em #EEEEEE;
  }
  50% {
    box-shadow: 0 -3em 0 -1em #EEEEEE, 2em -2em 0 -1em #EEEEEE, 3em 0 0 -1em #EEEEEE, 2em 2em 0 0em #EEEEEE, 0 3em 0 0.2em #EEEEEE, -2em 2em 0 0 #EEEEEE, -3em 0em 0 -1em #EEEEEE, -2em -2em 0 -1em #EEEEEE;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em #EEEEEE, 2em -2em 0 -1em #EEEEEE, 3em 0 0 -1em #EEEEEE, 2em 2em 0 -1em #EEEEEE, 0 3em 0 0 #EEEEEE, -2em 2em 0 0.2em #EEEEEE, -3em 0 0 0 #EEEEEE, -2em -2em 0 -1em #EEEEEE;
  }
  75% {
    box-shadow: 0em -3em 0 -1em #EEEEEE, 2em -2em 0 -1em #EEEEEE, 3em 0em 0 -1em #EEEEEE, 2em 2em 0 -1em #EEEEEE, 0 3em 0 -1em #EEEEEE, -2em 2em 0 0 #EEEEEE, -3em 0em 0 0.2em #EEEEEE, -2em -2em 0 0 #EEEEEE;
  }
  87.5% {
    box-shadow: 0em -3em 0 0 #EEEEEE, 2em -2em 0 -1em #EEEEEE, 3em 0 0 -1em #EEEEEE, 2em 2em 0 -1em #EEEEEE, 0 3em 0 -1em #EEEEEE, -2em 2em 0 0 #EEEEEE, -3em 0em 0 0 #EEEEEE, -2em -2em 0 0.2em #EEEEEE;
  }
}