<!DOCTYPE html>
<html ng-app="ngAuth">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title ng-bind="pageTitle"></title>

		<% styles.forEach(function(file) { %>
			<link rel="stylesheet" type="text/css" href="<%= file %>">
		<% }); %>

		<% scripts.forEach(function(file) { %>
			<script type="text/javascript" src="<%= file %>"></script>
		<% }); %>
	</head>
	<body>
		<div id="main-wrapper" class="main-wrapper print-hide" ui-view></div>
		<footer class="footer print-hide">
			<div class="container">
				<p>&laquo;ngAuth&raquo; &copy; 2001-2015. Все права защищены.</p>
			</div>
		</footer>
		<div class="print-container">
			<h1></h1>
		</div>
	</body>
</html>