<div ng-show="timeErrors['errorTimezone'].length || timeErrors['errorTime'].length" class="widget yellow-bg text center m-l-xsm m-r-xsm">
	<div style="display:inline-flex" class="p-xs">
	<i class="fa fa-warning fa-5x shake"></i>
		<div ng-show="timeErrors['errorTimezone'].length" style="display:inline-flex">
			<h2 class="m-l-xsm">
				{{timeErrors['errorTimezone'][0]}}
			</h2>
			<h2 class="m-l-xsm"><a class="dash-href" ui-sref="profile" translate-once="CHANGE_DASHBOARD"></a></h2>
		</div>
		<div ng-show="timeErrors['errorTime'].length">
			<h2 class="m-l-xsm">
				{{timeErrors['errorTime'][0]}}		
			</h2>&nbsp;
		</div>
	</div>
</div>

<h5 ng-if="vars.loading"><small><div class="loader"></div></small></h5>

<div class="col-lg-6 no-p" ng-if="!vars.loading">
	<!-- Аватарки и все дела !-->
	<div class="wrapper-content gray-bg animated fadeInRight m-l-xsm" ng-if='vars.lessons.length!==0'>
		<div class="widget navy-bg center scroll-horizontal" style="white-space: nowrap;margin-left:0 !important; ">
			<div ng-repeat="user in vars.users" class=" w30" style="float:left" ng-click="vars.selectUser=user">
				<h3 class="no-margins">{{::user.lastName}}</h3>
				<div class="block-center circle-border" style="width:92px;height:92px">
					<div class="avatar-circle-md" ng-if="user.avatarUrl.fileUrl" >
						<div style="background-image:url('{{::user.avatarUrl.fileUrl}}')"></div>
					</div>
				</div>
				<h3 class="no-margins">{{::user.firstName}}&nbsp;{{::user.patronName}}</h3>
			</div>
		</div>
	</div>
	<div class="wrapper-content gray-bg animated fadeInRight" ng-if='vars.lessons.length===0'>
		<div class="widget navy-bg">
			<div class="row" style="display:flex">
				<div class="block-center circle-border no-p m-l-xsm m-t-xsm" style="width:92px;height:92px">
					<div class="avatar-circle-md" ng-if="vars.users[0].avatarUrl.fileUrl" >
						<div style="background-image:url('{{::vars.users[0].avatarUrl.fileUrl}}')"></div>
					</div>
				</div>
				<div class="p-l-xsm col-lg-9">
					<h2 class="no-margins">{{vars.users[0].fullName}}</h2>
					<h3 translate-once="AVAILABLE_ROLE_DASHBOARD"></h3>
					<span ng-repeat="role in vars.users[0].roles">
						{{role.name}}
					</span>
					<div ng-show="vars.users[0].schoolId">
						<h3 class="no-margins"><translate translate-once="SCHOOL_DASHBOARD"></translate> {{vars.users[0].schoolName.name}}</h3>
						
					</div>
				</div>
			</div>
		</div>
	</div>	
	<div>
		<div class="m-l-xsm" ng-show="vars.selectUser.hasRole('school_student')" google-chart chart="chartObject" style="height:400px"></div>
	</div>
	<div class="row no-m-l">
		<div ng-show="vars.selectUser.hasRole('school_teacher')">
			<div class="col-lg-6 no-p-l">
				<div class="content widget lazur-bg row no-m-r" ng-click="vars.showLessons=!vars.showLessons" ng-class="(vars.showLessons)?'b-lazur-bg':'lazur-bg'">
					<div class="col-lg-4 " style="float:left">
						<li class="fa fa-pencil-square-o fa-5x"></li>
					</div>
					<div class="text-right">
						<span cla="font-title" translate-once="UNFILLED_LESSON_DASHBOARD"></span>
						<h2 class="font-bold no-m-b no-m-t"> {{vars.dashes.teacher.unfilled_lessons.length}}</h2>
					</div>
				</div>
				<div class="widget-text-box" collapse="!vars.showLessons" ng-show="vars.selectUser.hasRole('school_teacher')">
					<div ng-repeat="lesson in vars.dashes.teacher.unfilled_lessons" class="m-b-xsm">
						<div class="row va-m">
							<div  class="col-lg-3 va-t">
								<h4 class="no-m">{{lesson.start_time|amDateFormat:'DD.MM.YYYY'}}</h4>
								<h4 class="no-m">{{lesson.start_time|amDateFormat:'HH:mm'}}</h4>
							</div>
							<div class="col-lg-6 va-t">
								<h3 class="no-m">{{lesson.subject.name}}</h3>
								<h5  class="no-m">
									<span ng-repeat="school in lesson.schools">{{school.name}}
									</span>
								</h5>
								<h4 class="no-m">
									<span ng-repeat="grade in lesson.grades">{{grade.name}}
									</span>
								<h4>
							</div>
							<div class="col-lg-3 va-m no-m no-p">
								<button class="btn btn-primary btn-outline" type="button" ui-sref="school.lesson.editteacher({lessonId:lesson.id})"><li class="fa fa-pencil-square-o"></li></button>
							</div>
						</div>
					</div>
					<div ng-if="vars.dashes.teacher.unfilled_lessons.length===0">
						<h5 translate-once="NO_LESSON_DASHBOARD"></h5>
					</div>
				</div>
			</div>
			<div class="col-lg-6  no-p-l">
				<div class="content widget lazur-bg row no-m-r" ng-click="vars.showDocuments=!vars.showDocuments" ng-class="(vars.showDocuments)?'b-lazur-bg':'lazur-bg'">
					<div class="col-lg-4 " style="float:left">
						<i class="fa fa-pencil fa-5x"></i>
					</div>
					<div class="text-right">
						<span cla="font-title" translate-once="UNVER_DOC_DASHBOARD"></span>
						<h2 class="font-bold no-m-b no-m-t"> {{vars.dashes.teacher.unverified_documents.length}}</h2>
					</div>
				</div>
				<div ng-show="vars.selectUser.hasRole('school_teacher')">
					<div class="widget-text-box" collapse="!vars.showDocuments" ng-show="vars.selectUser.hasRole('school_teacher')">
						<table class="table">
							<thead>
								<tr>
									<th translate-once="SUBJECT_DASHBOARD"></th>
									<th translate-once="STUDENT_DASHBOARD"></th>
									<th class="text-right" translate-once="ACTION_DASHBOARD"></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="material in vars.dashes.teacher.unverified_documents">
									<td>{{material.lesson.subject.name}}</td> 
									<td>{{material.student.activeUserHistory.last_name}} {{material.student.activeUserHistory.first_name}} ({{material.student.currentCurrentGrade.grade.name?material.student.currentCurrentGrade.grade.name:vars.translate.withoutGrade}})</td>
									<td class="text-right">
										<a class="btn btn-primary btn-outline"  id="btn-{{material.student_document_id}}" href="{{material.studentDocument.file_url}}" gns-paint document_id="material.student_document_id" image-url="{{material.studentDocument.file_url}}" success="onImageLoad('material'+material.student_document_id)" image-caption="{{material.studentDocument.file_name}}" image-title="{{material.teacher_comment}}" ng-if="material.studentDocument.type == 'image'"><i class="fa fa-file-image-o"></i></a>
										<a class="btn btn-primary btn-outline" href="{{material.studentDocument.file_url}}" gns-video-popup options="material.studentDocument.playerOptions" name="{{material.studentDocument.file_name}}" ng-if="material.studentDocument.type == 'video'"><i class="fa fa-play"></i></a>
										<a class="btn btn-primary btn-outline" href="/api/file/download/{{material.student_document_id}}" ng-if="material.studentDocument.type == 'unknown'"><i class="fa fa-download"></i></a>
									</td>
								</tr>
								<tr ng-if="vars.dashes.teacher.unverified_documents.length===0">
									<td colspan="3"><h5 translate-once="NO_MATERIAL_DASHBOARD"></h5></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row no-m-l">
		<div ng-show="vars.selectUser.hasRole('school_student')">
			<div class="col-lg-6 no-p-l">
				<div class="content widget lazur-bg row no-m-r" ng-click="vars.showMarks=!vars.showMarks" ng-class="(vars.showMarks)?'b-lazur-bg':'lazur-bg'">
					<div class="col-lg-4 " style="float:left">
						<li class="fa fa-pencil-square-o fa-5x"></li>
					</div>
					<div class="text-right">
						<span cla="font-title" translate-once="MARK_TODAY_DASHBOARD"></span>
						<h2 class="font-bold no-m-b no-m-t"> {{vars.marks.length}}</h2>
					</div>
				</div>
				<div class="widget-text-box " collapse="!vars.showMarks" ng-show="vars.selectUser.hasRole('school_student')">
					<table class="table">
						<thead>
							<tr>
								<th translate-once="TIME_DASHBOARD"></th>
								<th translate-once="SUBJECT_DASHBOARD"></th>
								<th translate-once="TYPE_SIGN_DASHBOARD"></th>
								<th class="text-right" translate-once="SIGN_DASHBOARD"></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="mark in vars.marks" ng-class="(mark.value<2)?'striped-bg':''">
								<td>{{mark.date|amDateFormat:'HH:mm'}}</td>
								<td>{{mark.lesson.subject.name}}</td>
								<td>{{mark.markType.name}}</td>
								<td class="text-right">{{mark.value}}</td>
							</tr>
							<tr ng-show="vars.marks.length===0">
								<td><h5 translate-once="NO_SIGN_DASHBOARD"></h5></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-lg-6  no-p-l">
				<div class="content widget lazur-bg row no-m-r" ng-click="vars.showNotes=!vars.showNotes" ng-class="(vars.showNotes)?'b-lazur-bg':'lazur-bg'">
					<div class="col-lg-4 " style="float:left">
						<i class="fa fa-pencil fa-5x"></i>
					</div>
					<div class="text-right">
						<span cla="font-title" translate-once="NOTE_TODAY_DASHBOARD"></span>
						<h2 class="font-bold no-m-b no-m-t"> {{vars.notes.length}}</h2>
					</div>
				</div>
				<div class="widget-text-box" collapse="!vars.showNotes" ng-show=" vars.selectUser.hasRole('school_student')">
					<table class="table">
						<thead>
							<tr>
								<th translate-once="SUBJECTTEACHER_DASHBOARD"> </th>
								<th class="text-right" translate-once="TEXT_DASHBOARD"></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="note in vars.notes">
								<td>
									<div>{{note.lesson.subject.name}}</div>
									<div>{{note.lesson.teacher.activeUserHistory.last_name}}&nbsp;{{note.lesson.teacher.activeUserHistory.first_name}}&nbsp;{{note.lesson.teacher.activeUserHistory.patron_name}}</div>
								</td>
								<td class="text-right">{{note.text}}</td>
							</tr>
							<tr  ng-show="vars.notes.length===0">
								<td><h5 translate-once="NO_NOTE_DASHBOARD"></h5></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-lg-6" ng-if="!vars.loading">
	<!--
	Учительские уроки
	-->
	<div ng-show="vars.selectUser.hasRole('school_teacher')">
		<div class="content widget-head-color-box navy-bg">
			<h2 style="margin-left:15px;margin-top:10px" translate-once="SOON_LESSON_DASHBOARD"></h2>
		</div>
		<div class="widget-text-box">
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th class="text-center" translate-once="DATE_DASHBOARD"></th>
						<th translate-once="SUBJECT_DASHBOARD"></th>
						<th class="text-right" translate-once="ACTION_DASHBOARD"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="lesson in vars.lessons.teacher">
						<td><i ng-if="lesson.remote" class="fa fa-desktop"></i>&nbsp;<i ng-if="lesson.teacher_id!==vars.user.id" class="fa fa-street-view"></i></td>
						<td class="text-center no-wr">{{lesson.start_time|amDateFormat:'DD.MM.YYYY'}} <br>
						{{lesson.start_time|amDateFormat:'HH:mm'}} &ndash; {{lesson.end_time|amDateFormat:'HH:mm'}}</td>
						<td>{{lesson.subject.name}} ({{lesson.teacher.activeUserHistory.last_name}}&nbsp;{{lesson.teacher.activeUserHistory.first_name}}&nbsp;{{lesson.teacher.activeUserHistory.patron_name}})</td>
						<td class="text-right">
							<button ng-if="lesson.teacher_id===vars.user.id" class="btn btn-primary btn-outline" type="button" ui-sref="school.lesson.teacher({lessonId:lesson.id})"><i class="fa fa-toggle-right"></i></button>
							<button ng-if="lesson.teacher_id!==vars.user.id" class="btn btn-primary btn-outline" type="button" ui-sref="school.lesson.tutor({lessonId:lesson.id})"><i class="fa fa-toggle-right"></i></button>
						</td>
					</tr>
					<tr ng-show="vars.lessons.teacher.length===0">
						<td><h5 translate-once="NO_LESSON_DASHBOARD"></h5></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div ng-show="vars.selectUser.hasRole('school_student')">
		<div class="content widget-head-color-box navy-bg">
			<h2 style="margin-left:15px;margin-top:10px" translate-once="SOON_LESSON_DASHBOARD"></h2>
		</div>
		<div class="widget-text-box">
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th translate-once="DATE_DASHBOARD"></th>
						<th translate-once="SUBJECTTEACHER2_DASHBOARD"></th>
						<th ></th>
						<th translate-once="ACTION_DASHBOARD"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="lesson in vars.lessons.student">
						<td><i ng-show="lesson.remote" class="fa fa-desktop"></i></td>
						<td>{{lesson.start_time|amDateFormat:'DD.MM.YYYY'}} <br>
						{{lesson.start_time|amDateFormat:'HH:mm'}} &ndash; {{lesson.end_time|amDateFormat:'HH:mm'}}
						<td>{{lesson.subject.name}} ({{lesson.teacher.activeUserHistory.last_name}}&nbsp;{{lesson.teacher.activeUserHistory.first_name}}&nbsp;{{lesson.teacher.activeUserHistory.patron_name}})</td>
						<td></td>
						<td class="text-right"><button class="btn btn-primary btn-outline" type="button"  ui-sref="school.lesson.student({lessonId:lesson.id})"><i class="fa fa-toggle-right"></i></button></td>
					</tr>
					<tr ng-show="vars.lessons.student.length===0">
						<td><h5 translate-once="NO_LESSON_DASHBOARD"></h5></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>