<div id="content-wrapper" class="content-wrapper" ng-class="{ 'no-sidebar': isMenuItemActive('seminar.student.decline')||isMenuItemActive('seminar.student.accept') , 'no-sub-sidebar': hasRole('seminar_student')&&!hasRole('school_teacher')}">
	<div class="navbar-fixed-top">
		<div class="pull-right">
			<ul class="nav-toolbar" ng-show="toolbar.items.length > 0">
				<li ng-repeat="item in toolbar.items">
					<button class="btn btn-sm {{item.className}}" type="button" ng-click="item.action()" is-visible="{{item.isVisible}}">
						<i class="{{item.icon}}" ng-if="item.icon != null"></i>
						{{item.label}}
					</button>
				</li>
			</ul>
		</div>
		<div class="breadcrumbs" ng-class="{ 'no-sidebar': isMenuItemActive('seminar.student.decline')||isMenuItemActive('seminar.student.accept') , 'no-sub-sidebar': hasRole('seminar_student')&&!hasRole('school_teacher')}">
			<a href="{{helpVideo}}" class="btn btn-info btn-circle pull-left m-r-sm" name="Помощь по разделу" gns-video-popup options="{autostart: true}" ng-if="helpVideo">
				<strong>?</strong>
			</a>
			<ol class="breadcrumb" breadcrumbs>
				<li ng-class="{ 'active': $last }" ng-repeat="breadcrumb in breadcrumbs" ng-switch="$last">
					<a ui-sref="{{breadcrumb.stateName}}" ui-sref-opts="{ reload: true }" ng-switch-when="false" >{{breadcrumb.text}}</a>
					<strong ng-switch-when="true">{{breadcrumb.text}}</strong>
				</li>
			</ol>
		</div>
	</div>
	<div id="content-scrollable" class="container-fluid">
		<div class="row" ui-view></div>
	</div>
	<div class="content-footer">
		<div class="undo-block" ng-show="toolbar.undoAction() !== null"><translate translate-once="TOOLBAR_UNDO_ACTION_1"></translate> <a href translate-once-title="TOOLBAR_UNDO_TITLE" ng-click="toolbar.undo()"><translate translate-once="TOOLBAR_UNDO_ACTION_2"></translate></a> <translate translate-once="TOOLBAR_UNDO_ACTION_3"></translate>.
			<div class="pull-right p-r-xsm" ng-click="toolbar.undoAction(null)">
				<i class="fa fa-remove"></i>
			</div>
		</div>
	</div>
</div>